@import 'libs/_fonts'
@import 'libs/_bootstrap-reboot.min'
@import 'base/_variables'

*
	font-family: Roboto, sans-serif
.container
	width: 1140px
	margin: 0 auto

@import 'blocks/_promo'
@import 'blocks/_buttons'